---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-cppcoreguidelines-pro-type-vararg'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
cppcoreguidelines-pro-type-vararg: no